
CustomPortal/Library/

CustomPortal/Logs/

CustomPortal/UserSettings/

CustomPortal/Assembly-CSharp.csproj

CustomPortal/CustomPortal.sln

CustomPortal/Assembly-CSharp-Editor.csproj

CustomPortal/Temp/

CustomPortal/obj/

CustomPortal/.idea/
